<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Definición básica de un Bean -->
     <bean id="myFirstBean" class="com.discography.beans.MyFirstBean">
        <property name="mensaje" value="Hola desde Spring!" />
     </bean>

      <bean id="artistRepository">
        <property name="class" value="com.discography.repository.impl.ArtistRepositoryImpl" />
      </bean>

      <bean id="trackRepository">
        <property name="class" value="com.discography.repository.impl.TrackRepositoryImpl" />
      </bean>
      
      <bean id="artistService">
        <property name="class" value="com.discography.service.impl.ArtistServiceImpl" />
      </bean>

      <bean id="trackService">
        <property name="class" value="com.discography.service.impl.TrackServiceImpl" />
      </bean>
      
      




</beans>